body {
  min-height:calc(100vh - 4em);
  margin:0;
  padding:2em;
  background-color:#96E373;
  box-shadow:inset 0 0 0.5vw 0.1vw rgba(0,0,0,0.75);
  font-family:Verdana, Geneva, sans-serif;
}

#container {
  height:100%;
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;
  text-align:center;
}

#functions {
  display:flex;
}

.functions-inner {
  text-align:left;
  margin:5px 15px;
}

.function label {
  /* lots of accidental highlighting when clicking */
  user-select:none;
}

hr {
  width:100%;
}

textarea {
  width:500px;
  height:250px;
}